
  <h1 class="news"><%= link_to "记录",new_blog_path ,'data-no-turbolink' => true%></h1>

<div class="showblock"> 
  <section class="main">
    <% @blogs.each do |blog| %>
          <div class="time_list">
          <% if blog.is_boy? %>
                <div class="ava_left">
                     <%= link_to( tag(:img ,src: "/pictures/ava/head#{blog.id%10}.jpg",id:"ava") ,blog) %>
                     <center><%=blog.created_at%></center>
                </div>
                <div class="dialog_left">
                  <div class="triangle-isosceles left">
                    <h1><%= link_to( blog.title  ,blog) %></h1>
                    <p><%=  blog.summary %></p>
                  </div>
                </div>
          <% else %>

                <div class="ava_right">
                    <%= link_to( tag(:img ,src: "/pictures/ava/head#{blog.id%10}.jpg",id:"ava") ,blog) %>
                     <center><%=blog.created_at%></center>
                </div>
                <div class="dialog_right">
                    <div class="triangle-isosceles right">
                      <h1><%= link_to( blog.title  ,blog) %></h1>
                      <p><%=  blog.summary %></p>
                    </div>
                </div>
          <% end %>
          </div>
          <div class="clear"></div>
    <% end %>
  </section>

</div><!-- /container -->
<%= content_for :js do %>

<% end %>