<div class="login">  
    <%= form_tag login_path,name: "form",:class => "login-form",onSubmit: "return check()" do %>
    	<% if flash[:alert] %>
			<div class="alert alert-warning">
			<%= alert %>
			</div>
		<% end %>
		<div class="input-group">
  			<span class="input-group-addon">用户名</span>
 			 <%= text_field_tag :name,params[:name],class: "form-control",placeholder: "请输入用户名","data-toggle"=> "popover",autofocus: true,title:"","data-content"=>"用户名不能为空" %>
		</div>
		<div class="input-group">
  			<span class="input-group-addon">密<span class="glyphicon glyphicon-heart-empty"></span>码</span>
 			<%= password_field_tag :password,params[:password],class: "form-control",placeholder: "请输入密码","data-toggle"=> "popover",title:"","data-content"=>"密码不能为空" %>
		</div>
		<center>
			<%= submit_tag "登录",:class => "btn btn-large login-button" %>
		</center>
   <% end %>
 </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
function check()
{
	var flag = true;
	$("input").each(function(){
		var value=$(this).val();
		if(value=="")
		{
			$(this).css("border-color","red");
			$(this).popover('show');
			flag=false;
		}
	});
	return flag;
}

$(document).ready(function(){
	$(".removing-tag").click(function(){
		$(".login-alert").fadeOut();
	});	
	$("input").focus(function(){
		$(this).css("border-color","#8b969d");
	});
});
</script>