<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-group" style="width:40%;">
  <span class="input-group-addon">用户名</span>
    <%= f.text_field :name ,class: "form-control"%>
</div>
<div class="input-group" style="width:40%;">
    <span class="input-group-addon">密<span class="glyphicon glyphicon-heart-empty"></span>码</span>
    <%= f.password_field :pwd ,class: "form-control"%>
</div>
<%if session[:user_is_admin]%>
  <div class="input-group">
   <span class="checkbox">
        <%= f.check_box :is_admin %>
    </span>
    
  </div>
<%end%>
<div class="actions">
    <%= f.submit "修改",:class=>"btn btn-info"%>
    <%= link_to "返回",blogs_path,:class=>"btn btn-info", style:"margin:1% 0 1% 6%;" %>
</div>
<% end %>
