<h1>用户列表</h1>
<% if session[:user_is_admin]%>
<div class="users_list">
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pwd</th>
      <th>Is admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.pwd %></td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New User', new_user_path %>

</div>
<%else%>
    <center>
        <div class="alert alert-danger" role="alert">你没有权限访问</div>
        <%= link_to "返回",blogs_path,:class=>"btn btn-warning"%>
    </center>
<%end%>
