<% if session[:user_is_admin] || @user.id == session[:user_id]%>
<p id="notice"><%= notice %></p>
<div class="upfile">
<p>
  <strong>用户:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>密码:</strong>
  <%= @user.pwd %>
</p>

<%= link_to "确认",blogs_path,:class=>"btn btn-success", style:"margin:1% 0 1% 6%;" %>

</div>
<%else%>
    <center>
        <div class="alert alert-danger" role="alert">请不要随便访问别人的信息</div>
        <%= link_to "返回",blogs_path,:class=>"btn btn-warning"%>
    </center>

<%end%>
