<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>MyWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<% if session[:user_id]%>
<div class="guide">
  <span><%= link_to "退出",logout_path,method: :delete %></span>
  <span><%= link_to "#{session[:user_name]}",logout_path,method: :delete %></span>
  <span><%= link_to "记录",new_blog_path ,'data-no-turbolink' => true%></span>
</div>
<%end%>
<%= yield %>

</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :js %>

</html>
