<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>MyWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

  <%= link_to "退出",logout_path,method: :delete %>
<%= yield %>

</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :js %>

</html>
